<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinning Chickens - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script src="marquee-script.js"></script>
<body>

    <div id="container">
        <h1>Spinning Chickens</h1>

        <marquee id="randomMarquee">Good job having JavaScript disabled ;)</marquee>

        <div class="nav-bar">
            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('about') }}">About</a> |
            <a href="{{ url_for('contact') }}">Contact</a> |
            <a href="{{ url_for('links') }}">Links</a>
        </div>

        <p style="padding: 20px; text-align: left;">Spinning Chickens is a note-sharing board made, owned, and maintained by NorthernChicken.</p>
        <p style="padding: 20px; text-align: left;">Spinning Chickens is open-source! Visit at GitHub: <a href="https://github.com/NorthernChicken/spinning-chickens">https://github.com/NorthernChicken/spinning-chickens</a>. Contributions are welcome.</p>


        <div class="footer">
            <p>&copy; 2024 NorthernChicken. All Rights Reserved.</p>
        </div>
    </div>

</body>
</html>
