<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinning Chickens - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script src="marquee-script.js"></script>
<body>

    <div id="container">
        <h1>Spinning Chickens</h1>

        <marquee id="randomMarquee">Good job having JavaScript disabled ;)</marquee>

        <div class="nav-bar">
            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('about') }}">About</a> |
            <a href="{{ url_for('contact') }}">Contact</a> |
            <a href="{{ url_for('links') }}">Links</a>
        </div>

        <p style="padding: 1px;"> <a href="https://github.com/NorthernChicken/spinning-chickens">GitHub repo</a> </p>
        <p style="padding: 1px;"> <b>Helpful Darkweb links:</b> </p>
        <p style="padding: 1px;"> <a href="http://qnpejgsd7p6guzefqq5lly2lluwb5hhcsfdwjbpxp5cj4o76eecu55yd.onion/">Spinning Chickens - Official URL</a> </p>
        <p style="padding: 1px;"> <a href="http://tortaxi2dev6xjwbaydqzla77rrnth7yn2oqzjfmiuwn5h6vsk2a4syd.onion/">Tor Taxi</a> </p>
        <p style="padding: 1px;"> <a href="http://volkancfgpi4c7ghph6id2t7vcntenuly66qjt6oedwtjmyj4tkk5oqd.onion/en/">VormWeb Search Engine</a> </p>
        <p style="padding: 1px;"> <a href="http://protonmailrmez3lotccipshtkleegetolb73fuirgj7r4o4vfu7ozyd.onion/">ProtonMail</a> </p>
        <p style="padding: 1px;"> <a href="http://s4k4ceiapwwgcm3mkb6e4diqecpo7kvdnfr5gg7sph7jjppqkvwwqtyd.onion/">OnionLinks</a> </p>
        <p style="padding: 1px;"> <a href="http://zqktlwiuavvvqqt4ybvgvi7tyo4hjl5xgfuvpdf6otjiycgwqbym2qad.onion/wiki/index.php/Main_Page">The Hidden Wiki</a> </p>
        <p style="padding: 1px;"> <a href="https://bible4u2lvhacg4b3to2e2veqpwmrc2c3tjf2wuuqiz332vlwmr4xbad.onion/">The Bible</a> </p>

        <div class="footer">
            <p>&copy; 2024 NorthernChicken. All Rights Reserved.</p>
        </div>
    </div>

</body>
</html>
